.page-element.page-content
    .page-element__inner
        h2  Central col
        div#countElements.page-content__listCount
        div#countUniqueElements.page-content__listCount
        #pageContent.page-content__list
        button#loadMore.page-content__btn.hide показать еще

