.container
  display: flex
  align-content: flex-start
  flex-wrap: wrap
  margin: 0 auto
  padding: 20px
  height: 100%
  @include desktop
    flex-wrap: nowrap
    align-content: space-between

.page-element
  border: 1px solid #3963aa
  padding: 40px
  background: $color-accent
  position: relative
  & > *
    position: relative
    z-index: 2
  &:after
    content: ''
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    margin: 20px
    background: white
    padding: 20px
    border: 1px solid #3963aa

.main-content
  display: flex
  flex-direction: column
  flex-grow: 1

.header
  min-height: 250px

.main
  width: 100%
  display: flex
  flex-grow: 1

.aside
  margin-left: auto
  width: calc(100% - 300px)
  min-height: 440px
  padding: 30px
  @include desktop
    flex: 0 0 320px

.left-col
  flex: 0 0 300px

.right-col
  flex: 0 0 320px

.page-content
  padding: 40px
  flex-grow: 1
  min-height: 530px
  &__list-count
    margin-top: 30px
    font-size: 30px
    font-weight: 700
    color: $color-accent
  &__list
    margin-top: 30px
  &__list-item
    margin-top: 20px
  &__list-item-headline
    font-weight: 700
    font-size: 18px
  &__list-item-character
    font-weight: 700
    font-size: 18px
  &__list-item-quote
    @include txt

  &__btn
    padding: 14px
    min-width: 250px
    background: $color-accent
    text-transform: uppercase
    font-family: inherit
    color: white
    margin-top: 30px
    border: none
    font-size: 20px
    transition: $transition-base
    cursor: pointer
    &:hover, &:focus
      outline: none
      box-shadow: $shw_main
      background: darken($color-accent, 5%)
